
<!-- <div class="col-md-12">
    <div class="card card-container">

      <form   [formGroup] ="contactForm" *ngIf="!isSuccessful" (ngSubmit)="onSubmit()"  novalidate >

        <div class="form-group">
          <label for="libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" formControlName="libelle" required />
        </div>

          <div class="form-group">
            <button class="btn btn-primary btn-block" >Enregistrer</button>
          </div>

         <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">Signup failed!<br />{{ errorMessage }}</div>

        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">Your registration is successful!</div>
    </div>
</div>
 -->
 <div class="row p-3 justify-content-center costum-line">
  <form [formGroup] ="contactForm" *ngIf="!isSuccessful" (ngSubmit)="onSubmit()"  novalidate  class="text-center border border-light p-5 w-50 shadow-lg p-3 mb-5 bg-white">

    <p class="h4 mb-4">Créer un nouveau profil</p>

    <!-- libelle -->
    <input type="text" name="libelle" formControlName="libelle" required class="form-control mb-4" placeholder="Libelle">


    <div class="d-flex justify-content-around">
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4 btn btn-success" type="submit">Enregistrer</button>
    </div>
  </form>
 </div>
