<!-- Content -->
<div class=" shadow p-3 mb-5 bg-white" style="border-radius: 0px 40px 0px 40px;">

  <div class="float-left" routerLinkActive="active">
    <a href="admin/users/adduser" style="margin-left: 10px;"><button class="btn btn-primary btn-circle btn-lg"><span class="fas fa-user-plus"></span></button></a>
  </div>
  <div class=" float-right" routerLinkActive="active">
    <a href="admin/users/listuserdeleted" style="margin-right: 10px;"><button class="btn btn-danger btn-circle btn-lg" style="color: aliceblue;"><i class="fas fa-user-times" >  Les Utilisateurs archivés</i></button></a>
  </div>
  <h2 class="text-center">Liste des utilisateurs</h2>
  <hr>
  <br>
  <div class="d-flex flex-row-reverse bd-highlight mb-2 w-25 float-right">
    <div class="p-2 bd-highlight">
      <select (change)="onTableSizeChange($event)" class="custom-select">
        <option *ngFor="let size of tableSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>
  <input class="form-control mr-sm-2 w-25" type="search" [(ngModel)]="searchText" placeholder="Chercher">
  <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
<table class="table table-responsive-lg table-hover">
  <thead>
    <tr>
      <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID</font></font></th>
      <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prenom</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Username</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profil</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edit</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Détails</font></font></th>
        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Supprimer</font></font></th>
      </tr>
    </thead>
    <tbody>

      <tr class="table-light"
      *ngFor="let post of POSTS | filter: searchText | paginate : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };
        let i = index"
        >
        <!-- [class.active]="i == currentIndex" -->
        <th scope="row" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.id}}</font></font></th>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.prenom}}</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.nom}}</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.username}}</font></font></td>
        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.email}}</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{post.profil.libelle}}</font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <a href="admin/users/edituser/{{post.id}}"><span style="font-size: 20px; color: Dodgerblue;"><i class="far fa-edit"></i></span></a>
      </font></font></td>
      <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        <a href="admin/users/detailuser/{{post.id}}" class="align-item-center"><span style="font-size: 20px; color:yellowgreen"><i class="far fa-user"></i></span></a>
      </font></font></td>
    <td><button (click)="deleteUser(post.id)" class="btn btn btn-circle center"><span class="fas fa-trash" style="color: red;font-size: 20px;"></span></button></td>
    </tr>

  </tbody>
</table>


<div class="d-flex justify-content-center">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
</div>



