<div class="row p-3 justify-content-center costum-line">

  <ng-container *ngIf="isSuccessful" class="border border-light p-5 w-50 shadow-lg p-3 bg-white">
    <p class="text-center alert alert-success p-2 rounded">
      Successfully Update!
    </p>

  </ng-container>

  <form name="form" #f="ngForm" *ngIf="!isSuccessful" (ngSubmit)="onSubmit(f)"  novalidate  class="text-center border border-light p-5 w-50 shadow-lg p-3 mb-5 bg-white">

    <p class="h4 mb-4">Modification profil de Sortie</p>
    <hr>

     <!-- id -->
     <!-- <input type="number" name="id"  class="form-control mb-4" placeholder="id" [(ngModel)]="profil.id" > -->
    <!-- libelle -->
    <input type="text" name="libelle"  class="form-control mb-4" placeholder="Libelle" [(ngModel)]="profil.libelle" >


    <div class="d-flex justify-content-around">
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4 btn btn-success" type="submit">Modifier</button>
    </div>
  </form>
 </div>

