<div class=" row p-3 justify-content-center costum-line" >
  <form [formGroup] ="contactForm" (ngSubmit)="onSubmit()" novalidate class="text-center border border-light w-75 h-75 shadow-lg p-3 mb-5 bg-white " style="border-radius: 40px 40px 40px 40px;">

    <hr>
    <p class="h4 mb-4">Creation de Compétence</p>
    <hr>

    <div>

        <select formControlName = "GrpCompetence" class="form-control mb-5" id="exampleSelect1">
          <option [value]="item.libelle" *ngFor="let item of grpcompetence"> {{item.libelle}} </option>
       </select>

    </div>

    <div>
      <input type="text" class="form-control mb-5" placeholder="Libellé" formControlName="libelle">
    </div>

    <div class="d-flex align-items-start">

        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Niveau 1</button>
          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Niveau 2</button>
          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Niveau 3</button>
        </div>

        <div class="tab-content mb-4" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

              <div>
                <textarea name="" id="" cols="69" rows="5" placeholder="Groupe d'actions à réaliser"></textarea>
              </div>

              <div>
                <textarea name="" id="" cols="69" rows="5" placeholder="Critères d'évaluation"></textarea>
              </div>

            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

              <div>
                <textarea name="" id="" cols="69" rows="5" placeholder="Groupe d'actions à réaliser"></textarea>
              </div>

              <div>
                <textarea name="" id="" cols="69" rows="5" placeholder="Critères d'évaluation"></textarea>
              </div>

            </div>

            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

              <div>
                <textarea name="" id="" cols="69" rows="5" placeholder="Groupe d'actions à réaliser"></textarea>
              </div>

              <div>
                <textarea name="" id="" cols="69" rows="5" placeholder="Critères d'évaluation"></textarea>
              </div>

            </div>
        </div>


    </div>
    <button class=" btn btn-primary mb-4" type="submit">Submit</button>
  </form>
</div>
