
<div class="row border border-light  p-3 shadow-lg bg-white justify-content-around" class=" shadow p-3 mb-5 bg-white" style="border-radius: 0px 40px 0px 40px;" *ngIf="currentUser; else loggedOut">
      <div class="float-left col-4">
        <img *ngIf="User.avatar" [src]="imgSrc" class="rounded-circle border" style="width: 250px; height: 250px;" >
        <br>

        <h3 class="display-3">
          <strong>{{ User.username }}</strong>
        </h3>
        <br>
        <br>
      </div>
      <div class="row col-4 w-100 p-3" style="font-size: x-large;" >
        <p class="fw-light">
          <strong class="fs-1">Prenom: </strong>
          {{ User.prenom }}
        </p>
        <p>
          <strong>Nom: </strong>
          {{ User.nom }}
        </p>
        <p>
          <strong>Email: </strong>
          {{  User.email }}
        </p>
        <p *ngIf="User.phone">
          <strong>Téléphone :</strong>
          {{  User.phone }}
        </p>
        <strong>Roles: </strong>
        <ul>
          <li >
            {{ currentUser.roles }}
          </li>
        </ul>
      </div>
      
      <br>
      <br>
      <a href=""class=" btn btn-primary col-12"  >Modifier</a>

  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
