<div class="container">
  <div class = "jumbotron ">
    <h1 class = "display-3 center"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Bonjour le monde! </font> </font> </ h1>
    <p class = "lead"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Il s'agit d'une simple unité de héros, un composant simple de style jumbotron pour attirer une attention particulière sur le contenu ou les informations prévues </font> </font> </p>
    <hr class = "my-4">
    <p> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Il utilise des classes utilitaires pour la typographie et l'espacement pour espacer le contenu dans le plus grand conteneur . </font> </font> </p>
    <p class = "lead">
      <a class="btn btn-primary btn-lg" href="#" role="button"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Apprendre encore plus </font> </font> </a>
    </p>
  </div>
</div>